# Data Wrangling & Machine Learning

##### Maruf Hossain

In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('flight_data.csv')
df

  operator_code  route_code duration
0           ARS          15    2h 5m
1           BDB          17   3h 15m
2           USB          28   5h 10m
3           ARC          25   2h 30m
4           QAL          13   1h 15m

# Problem  Statment

- Here the data in duration is in str format, we need to convert this data to numerical for statistical anlysis or predictive model for machine learning
- Objective: The objective is to convert col duration to duration in minutes/ only minutes/ numerical conversion

### Analysis

In [3]:
d = df.duration[0]  # 2h 5m is is full str
d

'2h 5m'

In [13]:
# d.split()  # Spliting data (full str into two)

In [15]:
# d.split() [0]  # getting first part, Working 1
# d.split()[0].replace('h','')  # replace h to nothing, Working 2
# int(d.split()[0].replace('h','')) * 60  # first making int and multiplied by 60 to get total mins, working-3

# Method 1

- In method, need to run one by one record/row, which will time consuming for real life Proejec

In [16]:
int (d.split() [0].replace('h','')) * 60  # Split & Convert to Minutes

60

In [17]:
int(d.split() [1].replace('m','')) # Replaceing minutes with nothing

15

### Add hours(converted mins) & minutes togehter

In [6]:
int (d.split() [0].replace('h','')) * 60 +  int(d.split() [1].replace('m',''))

125

# Method 2 : Tradional Method / Loop

In [7]:
for i, d in enumerate(df.duration):
    dur = int (d.split() [0].replace('h','')) * 60 +  int(d.split() [1].replace('m',''))
    df.loc[i,'dur_mins'] = dur

In [8]:
df.head()

  operator_code  route_code duration  dur_mins
0           ARS          15    2h 5m     125.0
1           BDB          17   3h 15m     195.0
2           USB          28   5h 10m     310.0
3           ARC          25   2h 30m     150.0
4           QAL          13   1h 15m      75.0

#### Code Narration of method 2

- for d in df.duration: it will go recode by record into d
- df.loc(i, 'dur_mins') = i is index, when first run i will be 0 then 1,2,3...n
- loc = duration means is location not index

# Method 3 : Most Effecient / Using Function

In [9]:
def dur(d) : 
    return int (d.split() [0].replace('h','')) * 60 +  int(d.split() [1].replace('m',''))

In [10]:
df['dur_mins'] = df.duration.apply(dur) # duration is actual column, earlier defined function 'dur' passed into 'apply'

In [11]:
df.head()

  operator_code  route_code duration  dur_mins
0           ARS          15    2h 5m       125
1           BDB          17   3h 15m       195
2           USB          28   5h 10m       310
3           ARC          25   2h 30m       150
4           QAL          13   1h 15m        75

### Code Narration - Method 3

- Lets give a function name e.g dur (any name can be given)
- d inside bracket is taken as "input"
- 'dur_mins' is a field where converted data will be stored
- apply takes the function 'dur' & apply on record by record (each row)
- Apply is being heavily used to data tranforamtion in pandas & in data preperation